<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header-container">
    <div class="header-text">  

            <ul class="footer-nav">
                <li class="foot-item">
                    <button class="primary-button" type="button" onclick="window.open('https://github.com/MitulNakrani003')"><i class="fa fa-github" style="font-size:22px"></i><span>GITHUB </span></button>
                </li>
                <li class="foot-item">
                    <button class="primary-button" type="button" onclick="window.open('https://www.linkedin.com/in/mitul-nakrani/')"><i class="fa fa-linkedin-square" style="font-size:20px"></i><span>LINKEDIN </span></button>
                </li>
                <li class="foot-item">
                    <button class="primary-button" type="button" (click)="sendEmail()"><i class="fa fa-envelope" style="font-size:20px"></i><span>EMAIL </span> </button>
                </li>
            </ul>        
    </div>
</div>