@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../styles.scss';

.experience-container{
    display: flex;
    align-items: center;
    height: auto;
    padding : 20px 20px;
    margin: 20px 20px 0px 20px;
    flex-direction: column;
    background-color: $color-medium-bg;
    border-radius: 20px;
}

.section-heading{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
}

.projectarea-container{
    display: flex;
    height: auto;
    flex-direction: row;
    background-color: inherit;
    border-radius: 20px;
}