<div class="projectpane-container">
    <div class="projectpane-head">
        <p>
            <span class="projectpane-title">
                {{project.title}}
            </span>
        </p>
        <p>
            <span class="projectpane-subline">
                {{project.description.text}}
            </span>
        </p>
    </div>

    
    <div class="technologies-container">
        <div class="technology-badge" *ngFor="let tech of getTechList()">
            <img class="tech-image" src="{{project.description.technologies[tech]}}" alt="Project Image" />
            <p>{{tech}}</p>
        </div>
    </div>
    

    <div class="projectpane-details-container">
        <p class="projectpane-details" *ngFor="let detail of project.description.details">
            <span>
                &rarr; {{detail}}
            </span>
        </p>
    </div>

    <div>
        <!-- <img class="tech-image-github" src="githublogo.svg" alt="Project Image" /> -->
        <i class="fa fa-github" style="font-size:16px"></i>
        <a href="{{project.link}}" target="_blank"><span> GITHUB LINK &nearr;</span></a>
    </div>
</div>  