<div class="projectpane-container">
    <div>
        <p>
            <span class="projectpane-title">
                {{project.title}}
            </span>
        </p>
        <p>
            <span class="projectpane-subline">
                {{project.description.text}}
            </span>
        </p>
    </div>

    
    <div class="technologies-container">
        <div class="technology-badge" *ngFor="let tech of getTechList()">
            <img class="tech-image" src="{{project.description.technologies[tech]}}" alt="Project Image" />
            <p>{{tech}}</p>
        </div>
    </div>
    

    <div>

    </div>
    <div>

    </div>
</div>  