@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../styles.scss';

.image-container{
    padding : 20px 20px;
    flex-direction: column;
    background-color: $color-medium-bg;
    margin-left: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    height: 400px;

    aspect-ratio: 1 / 1;
}

.image-container img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%
}


