@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../styles.scss';

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding : 20px 20px;
    flex-direction: column;
    background-color: $color-medium-bg;
    // margin: 10px;
    border-radius: 20px;
}

.about-text{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}