<div class="experience-container">
    <div class="scrollable-div">
        <p class="about-text">
        As a passionate and driven Master's student with a deep-rooted enthusiasm for software engineering and problem-solving, I bring a unique blend of academic excellence and practical industry experience to the world of computer science.
        </p>
        <p class="about-text">
        With over 2 Years of hands-on industry experience, I've had the privilege of working on live projects that have honed my skills and given me a profound understanding of the dynamic and ever-evolving software development landscape.
        My educational pursuits have given me a solid foundation in computer science principles, and I am determined to further expand my knowledge and skills through continuing education and professional development.
        </p>  
        <p class="about-text">
        As a passionate and driven Master's student with a deep-rooted enthusiasm for software engineering and problem-solving, I bring a unique blend of academic excellence and practical industry experience to the world of computer science.
        </p>
        <p class="about-text">
        With over 2 Years of hands-on industry experience, I've had the privilege of working on live projects that have honed my skills and given me a profound understanding of the dynamic and ever-evolving software development landscape.
        My educational pursuits have given me a solid foundation in computer science principles, and I am determined to further expand my knowledge and skills through continuing education and professional development.
        </p>  
        <p class="about-text">
        As a passionate and driven Master's student with a deep-rooted enthusiasm for software engineering and problem-solving, I bring a unique blend of academic excellence and practical industry experience to the world of computer science.
        </p>
        <p class="about-text">
        With over 2 Years of hands-on industry experience, I've had the privilege of working on live projects that have honed my skills and given me a profound understanding of the dynamic and ever-evolving software development landscape.
        My educational pursuits have given me a solid foundation in computer science principles, and I am determined to further expand my knowledge and skills through continuing education and professional development.
        </p>  
        <p class="about-text">
        As a passionate and driven Master's student with a deep-rooted enthusiasm for software engineering and problem-solving, I bring a unique blend of academic excellence and practical industry experience to the world of computer science.
        </p>
        <p class="about-text">
        With over 2 Years of hands-on industry experience, I've had the privilege of working on live projects that have honed my skills and given me a profound understanding of the dynamic and ever-evolving software development landscape.
        My educational pursuits have given me a solid foundation in computer science principles, and I am determined to further expand my knowledge and skills through continuing education and professional development.
        </p>  
        <p class="about-text">
        As a passionate and driven Master's student with a deep-rooted enthusiasm for software engineering and problem-solving, I bring a unique blend of academic excellence and practical industry experience to the world of computer science.
        </p>
        <p class="about-text">
        With over 2 Years of hands-on industry experience, I've had the privilege of working on live projects that have honed my skills and given me a profound understanding of the dynamic and ever-evolving software development landscape.
        My educational pursuits have given me a solid foundation in computer science principles, and I am determined to further expand my knowledge and skills through continuing education and professional development.
        </p>  
    </div>    
</div>  