@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../styles.scss';

.bodyarea-container{
    display: flex;
    background-color: inherit;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bodyarea-top{
    display: flex;
    height: auto;
    flex-direction: row;
}

// Media query for tablets
@media screen and (max-width: 992px) {
    .bodyarea-container {
        padding: 0 0px;
    }
}

// Media query for mobile devices
@media screen and (max-width: 800px) {
    .bodyarea-container {
        padding: 0 5px;
    }
    
    .bodyarea-top {
        flex-direction: column; // Stack items vertically on mobile
        gap: 20px; // Add space between stacked elements
    }
}

// Media query for small mobile devices
@media screen and (max-width: 480px) {
    .bodyarea-container {
        padding: 0;
    }
    
    .bodyarea-top {
        gap: 20px; // Add space between stacked elements
    }
}