@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../styles.scss';

.bodyarea2-container{
    display: flex;
    align-items: center;
    height: auto;
    background-color: $color-medium-bg;
    margin-left: 20px;
    border-radius: 20px;    
}

