@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../styles.scss';

.projectleft-container{
    display: flex;
    height: auto;
    flex-direction: column;
    // background-color: black;
    background-color: inherit;
    border-radius: 20px;


    padding-right: 10px;
    width: 100%; 
}

