@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import '../../styles.scss';

.projectleft-container{
    display: flex;
    height: auto;
    flex-direction: column;
    // background-color: black;
    background-color: inherit;
    border-radius: 20px;


    padding-right: 10px;
    width: 100%; 
}

// Media query for tablets
@media screen and (max-width: 992px) {
    .projectleft-container {
        padding-right: 8px;
    }
}

// Media query for mobile devices
@media screen and (max-width: 800px) {
    .projectleft-container {
        padding-right: 0;
        width: 100%;
    }
}

// Media query for small mobile devices
@media screen and (max-width: 480px) {
    .projectleft-container {
        border-radius: 15px;
    }
}