/* You can add global styles to this file, and also import other style files */
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$color-light-bg: rgb(207, 238, 255);
$color-medium-bg: #6290be;

// $main-font: 'Montserrat', sans-serif;

.bosspage {
  background-color: $color-light-bg;
}



